/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Shared Styles */

.btn-primary {
    color: rgba(0, 95, 172, 1);
    background-color: rgba(255,255,255,1);
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    padding: 15px 35px;
}


/* Heading Section */
header {
    background: url("./images/banner/banner3.png");
    height: 808px;
    margin-bottom: 140px;
}

.banner-section{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-right: 180px;
    /* border: 1px solid red; */
}

.banner-content {
    max-width: 480px;
    text-align: right;
    /* border: 2px solid brown; */
}

.banner-content .banner-heading {
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0;
    color: rgba(255,255,255,1);
    margin-bottom: 24px;
}

.banner-content p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    color: rgba(255,255,255,1);
    margin-bottom: 32px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid red; */
}



.hero-img img {
    width: 100%;
}

.hero-img, .hero-content {
    /* border: 2px solid green; */
    width: 40%;
}

.hero-content h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    color: rgba(21, 20, 20, 1);
    margin-bottom: 24px;
}

.hero-content p{
    font-size: 16px;
    color: rgba(68, 67, 67, 1);
    margin-bottom: 16px;
}

.hero-content ul li {
    font-size: 16px;
    color: rgba(68, 67, 67, 1);
    margin-bottom: 16px;
    margin-left: 25px;
}

/* My plans Section */
.plans {
    width: 71%;
    max-width: 1140px;
    margin: 120px auto;
}

.plans h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgba(21, 20, 20, 1);
    letter-spacing: 0;
    margin-bottom: 50px;
}

.plans .plans-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.plans-card {
    text-align: center;
}

.plans-card img {
    width: 92px;
    height: 92px;
}

.plans-card h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin: 16px 0;
}

.plans-card p {
    font-weight: 500;
    color: rgba(115, 114, 114, 1);
}


/* mindset section */

.mindset {
    background: linear-gradient(90.00deg, rgba(0, 95, 172, 1),rgba(0, 95, 172, 0) 100%), url("./images/watch.png");
    background-repeat: no-repeat;
    padding: 60px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
    background-position: center;
    border-radius: 8px;
}

.mindset-content {
    max-width: 60%;
}

.mindset-content h1 {
    color: rgba(255,255,255,1);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0;
    margin-bottom: 24px;
}

/* Footer section */
footer {
    background-color: rgba(21, 20, 20, 1);
    color: rgba(255,255,255,1);
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.footer-content, .subscribe {
    width: 40%;
}

.footer-content p, .footer-content h1 {
    margin-bottom: 16px;
}

.social {
    display: flex;
    gap: 24px;
}

.subscribe input[type="email"] {
    display: block;
    margin: 16px 0;
    padding: 12px 30px;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 8px;
    background: transparent;
    color: rgba(255,255,255,1);
    padding-right: 200px;
}

.subscribe h1 {
    font-size: 20px;
    font-weight: 500;
}

.subscribe button {
    background-color: rgba(0, 95, 172, 1);
    color: rgba(255,255,255,1);
}